<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {title:'Who said that!?' }) %>

    <body>
        <%- include('../partials/header') %>
            <% if (locals.user) { %>
                <%- include('../partials/createPost.ejs') %>
                    <% } %>
                        <div class="container allMsgs">
                            <% locals.messages.forEach(msg=> { %>
                                <div class="msgContainer">
                                    <h3>
                                        <%= msg.title %>
                                    </h3>
                                    <h4>From: <i>
                                            <%= locals.user?.status=='gold' || locals.user?.id==msg.user_id ? msg.f_name
                                                + ' ' + msg.l_name : '*******' %>
                                        </i><br> At: <i>
                                            <%= new Date(msg.timestamp + 'Z' ).toLocaleString('en-US', {
                                                weekday: 'short' , year: 'numeric' , day: 'numeric' , month: 'short' ,
                                                hour: 'numeric' , minute: 'numeric' , second: 'numeric' , hour12: true
                                                }) %>
                                        </i>
                                    </h4>
                                    <p>
                                        <%= msg.content %>
                                    </p>
                                </div>
                                <% }) %>
                        </div>
    </body>

</html>